.header, .footer, .center {
  display:flex;
  align-content:center;
  justify-content:center;
  padding:20px;
  flex:1;
  gap:10px;
}
.buttons, .actual-game {
  display:flex;
  align-items:center;
  justify-content:center; 
  padding: 20px;
}


.buttons {
  width : 270px;
  flex-shrink:0;
}
.container {  
  width:540px;
  height:540px;
  display:flex;
  flex-wrap:wrap;

}
.content:hover {
  background-color:black;
}

.header, .footer {
  background-color:black;
  color:white;
}
.center {
  background-color:grey;
}
.restart {
  
  align-items:center;
}
